
body {
    text-align: center;
    margin: 0px;
    min-width: 400px;
}

#titulo {
    height: 100%;
    float: left;
    width: 300px;
    text-align: left;
}

#logo {
    height: 100%;
    float: left;
    width: 75px;
}

.head {
    top: 0px;
    position: absolute;
    text-align: right;
    height: 100px;
    width: 100%;
    background: #EEEEEE;
}

img {
    width: auto;
    height: 100%;
}

.alta {
    width: 100%;
    height: auto;

}

.pieDePagina {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 20px;
}

#sobrePie {
    position: absolute;
    height: 100px;
    bottom: 20px;
    width: 100%;
    background: #EEEEEE;
    min-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;/**/
}

.hiper {
    height: 86px;
    width: 210px;
    margin-left: 100px;/**/
    margin-top: 7px;
    float: left;
    background-color: white;
}

#SSS {
    position: absolute;
    top: 110px;
    text-align: center;
    width: 100%;
    height: auto;
}

#button1 {
    position: absolute;
    top: 50%;
    left: 50%;
}
.button2{
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(8, 56, 8, 0.99);
    background: #4acf92;
    margin: 0px 0px 25px;
    overflow: hidden;
    padding: 35px;

}
#botonEdit{

    border-radius: 35px 0px 0px 35px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 0px 35px;
    border: 2px solid #00cf6d;
}
#botonReset{
    border-radius: 0px 35px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 0px 35px 35px 0px;
    border: 2px solid #00cf6d;
}
#namePlanet{
    position: absolute;
    bottom: 23%;
    left: 2%;
}
#planetProp{
    position: absolute;
    bottom: 85px;
    left: 5%;
}
#sponsored {
    position: absolute;
    bottom: 123px;
    left: 2%;
}

#menu {
    padding: 15px;
}
#planetPropUno{
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 20px;
    text-align: center;
    background: rgba(37, 40, 39, 0.35);
}
#tablaPropUno{
    padding: 20px;
}
#planetPropDos{
    position: absolute;
    width: 50%;
    bottom: 20px;
    text-align: left;
    height: 20%;
    margin-left: 50%;
    background-color: rgba(69, 69, 69, 0.54);
}
#HolaDos{
    padding-left: 20px;
}

#myCanvas{
    width: 20%;
    height: 20%;
    border:1px solid #d3d3d3;
}