
body {
    margin: 0px;
    min-width: 400px;
    font-family: Arial;
}

#titulo {
    height: 100%;
    float: left;
    width: 300px;
    text-align: left;
}

#logo {
    height: 100%;
    float: left;
    width: 75px;
}

.head {
    top: 0px;
    position: absolute;
    text-align: right;
    height: 100px;
    width: 100%;
    background: #EEEEEE;
}

img {
    width: auto;
    height: 100%;
}

.alta {
    width: 100%;
    height: auto;

}

.pieDePagina {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    text-align: center;
}

#sobrePie {
    position: absolute;
    height: 100px;
    bottom: 20px;
    width: 100%;
    background: #EEEEEE;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}

.hiper {
    height: 86px;
    width: 210px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 7px;
    float: left;
    background-color: white;
    text-align: center;
}

#SSS {
    position: absolute;
    top: 110px;
    width: 100%;
    height: auto;
    text-align: center;
}

#botn {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;

}
#button1{
    height: 50px;
    width: 10%;
    font-size: 100%;
}

.button2 {
    width: 200px;
    height: 50px;
    font-size: 100%;
    margin: 10px 10px 10px;
}

#namePlanetInferior {
    position: absolute;
    bottom: 23%;
    left: 2%;
}

#planetProp {
    position: absolute;
    bottom: 85px;
    left: 5%;
}

#sponsored {
    position: absolute;
    bottom: 123px;
    left: 2%;
}

#menu {
    padding: 15px;
}

#planetPropUno {
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 20px;
    text-align: left;
    background: rgba(37, 40, 39, 0.35);
}
#planetPropDos {
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 20px;
    text-align: left;
    margin-left: 50%;
    background-color: rgba(69, 69, 69, 0.54);
}

#HolaDos {
    padding-left: 20px;
}

.Pag2 {
    text-align: center;
}
#canvasContainer{
    width: 100%;
    text-align: center;
}
