body {
    text-align: center;
    margin: 0px;
    min-width: 400px;
}

#titulo {
    height: 100%;
    float: left;
    width: 300px;
    text-align: left;
}

#logo {
    height: 100%;
    float: left;
    width: 75px;
}

#head {
    top: 0px;
    position: absolute;
    text-align: right;
    height: 100px;
    width: 100%;
    background: #EEEEEE;
}

img {
    width: auto;
    height: 100%;
}

.alta {
    width: 100%;
    height: auto;

}

#pieDePagina {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 20px;
}

#sobrePie {
    position: absolute;
    height: 100px;
    bottom: 20px;
    width: 100%;
    background: #EEEEEE;
    min-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;/**/
}

.hiper {
    height: 86px;
    width: 210px;
    margin-left: 100px;/**/
    margin-top: 7px;
    float: left;
    background-color: white;
}

#SSS {
    position: absolute;
    top: 110px;
    text-align: center;
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
}

#sponsored {
    position: absolute;
    bottom: 123px;
    left: 2%;
}

#menu {
    padding: 15px;
}